.navbar-nav a:focus { color: rgb(223, 39, 39) !important;}
.navbar-nav a:hover { color: rgb(37, 14, 168) !important; }
.navbar-nav a:active { color: rgb(20, 207, 45) !important; }

.navbar-nav a{
 color: #E0E3E9;
}
.navbar, .dropdown-menu{
    background:#3C5A98;
    
}

.mainContent{
    background: #F7F7FF;
}

.page-footer{
    background: #3C5A98;
    color: black;
}
.page-footer a{
    color: black;
}

.login{
    background: #F7F7FF;
    height: 350px;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    
  }
  li{
      list-style: none;
  }
  
